---
import { getLocale, t } from "i18n:astro";
import Layout from "../layouts/Layout.astro";

const locale = getLocale();
console.log(locale);
const lang = locale;
const greeting = t("common:greeting");
---

<Layout>
  <main class="container">
    <p>{lang} {greeting}</p>
  </main>
</Layout>
